.singleItem {
    overflow:scroll;
    max-height: calc(100vh - 135px);
}

.favorite {
    text-align: right;
    margin: 15px 0 10px;
}

.delete{
    font-weight: bold;
    line-height: 1.1;
    cursor: pointer;
    color: red;
    border-bottom: 1px solid red;
}
.favorite__btn {
    font-weight: bold;
    line-height: 1.1;
    color: blue;
    cursor: pointer;
}
.favorite__btn span{
    border-bottom: 1px solid blue;
}
