.length {
    margin: 30px 0 30px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.customModal {
    max-width: 95vw !important;
    overflow: scroll;
}
.modalColForm{
    border-right: 1px solid #dfe2e6;
}

@media (max-width: 768px) {
    .modalRow{
        overflow: scroll;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .modalColMap,
    .modalColForm{
        min-width: 93vw;
        height: 350px;
        margin-bottom: 15px;
    }
    .modalColForm{
       border-right: none;
    }
}
